.item {
    border-radius: 50px;
    border: solid;
    background-color: red;
}

.active{
    font-size: large;
}

.titulo{
    color: blue;
}

.entrada{
    padding: 20px;
}

.div{
    background-image: none;
}